/* line 3, ../sass/_desktop/d-author.scss */
main#single .image-postbit-content div.title-wrapper {
  align-items: center !important;
}
/* line 6, ../sass/_desktop/d-author.scss */
main#single .image-postbit-content div.title-wrapper h2 {
  text-align: center;
  width: 100%;
  font-size: 2.4em;
}
/* line 13, ../sass/_desktop/d-author.scss */
main#single .image-postbit-content div.rule, main#single .image-postbit-content p {
  display: none;
}
