/* line 2, ../sass/_desktop/d-postbit.scss */
.image-postbit-block .image-postbit {
  width: 33.333%;
}
/* line 5, ../sass/_desktop/d-postbit.scss */
.image-postbit-block .image-postbit:nth-last-child(3n+2):first-child, .image-postbit-block .image-postbit:nth-last-child(3n+1):nth-child(2) {
  width: 50%;
}
/* line 10, ../sass/_desktop/d-postbit.scss */
.image-postbit-block .image-postbit:nth-last-child(3n+1):first-child {
  width: 100%;
}
