.types-block {
  display: flex;
  justify-content: center;

  .pokemon-type {
    @extend .stylized;
    
    color: $grey;
    padding: 2px 6px;
    border-radius: 4px;
    user-select: none;
    margin: 0 0.25em;
  }
}