body {
  &.docked {
    --header-height: $header-docked-height;
    --header-inner-height: $header-docked-height;
  }
}

header#wrapper {
  body.scrolling-down & {
    opacity: 0;
    pointer-events: none;
  }
}