aside#modal {
  display: none;
  width: 12em;
  padding: 1em 0;

  position: absolute;
  right: 0;
  top: 3em;

  background: $slight-grey;
  border: 1px solid $dark-transparent-grey;

  &.active { display: block; }

  h3 {
    text-align: left;
    padding: 0 1em;
  }

  li {
    width: 100%;
    padding: 0 1em;
    text-align: left;

    &:hover {
      color: $grey;
      background-color: $very-dark-green;
    }
  }
}