.image-banner {
  height: 25em;
  width: 90%;
  margin: auto;
  margin-top: 1em;

  background-size: cover;
  background-position: center;

  .image-banner-shading {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      to bottom,
      transparent, 
      mix(transparent, black, 10%)
    );

    img.image-banner-embedded-image {
      height: 100%;
      width: auto;
    }
  }
}