.button {
  background-color: $grey;
  color: $very-dark-grey;
  margin: 0 0.5em;
  padding: 0.25em 0.5em;
  border-bottom: 4px solid $mid-grey;

  border-top-left-radius: 0.15em;
  border-top-right-radius: 0.15em;

  transition: 0.25s;
  will-change: background-color, border-bottom-color;

  &:hover {
    background-color: darken($grey, 10%);
    border-bottom-color: darken($mid-grey, 10%);
  }

  a {
    display: block;
  }
}

.button-group {
  list-style-type: none;
  
  & > * {
    @extend .button;
  }
}

.button-alt {
  @extend .stylized;

  background-color: $very-dark-green;
  color: $grey;
  border-radius: 0.5em;
  border: none;

  transition: 0.25s;
  cursor: pointer;

  padding: 0.6em 2em;

  /* prevent pushing stuff around when fa loads */
  i.fa {
    width: 13.34px;
    height: 13px;
    display: inline-block;
  }

  &:hover {
    background-color: darken($very-dark-green, 15%);
  }
}