// PART 0: GENERIC ELEMENTS

.site-name {
  display: flex;
  align-items: center;
  
  .site-name-contents {
    a.site-title {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
      font-family: 'Comfortaa';
    }
  }

  &:not(.dont-multiply-title-size) {
    a.site-title { font-size: 1.8em }
  }

  &.two-lines {
    flex-direction: column;
    justify-content: center;

    svg {
      width: 100px;
      height: 100px;
      margin-bottom: 0.25em;
    }
  }

  &.has-menu,
  &.big-logo {
    svg {
      width: 75px;
      height: 75px;
    }
  }

  &:not(.two-lines) {
    svg {
      margin-right: 0.25em;
    }
  }
}

.rule {
  height: 1px;
  width: 100%;
  background-color: $dark-transparent-grey;
  margin: 1em 0;
}

// PART 1: COMPONENTS

.button {
  background-color: $grey;
  color: $very-dark-grey;
  margin: 0 0.5em;
  padding: 0.25em 0.5em;
  border-bottom: 4px solid $mid-grey;

  border-top-left-radius: 0.15em;
  border-top-right-radius: 0.15em;

  transition: 0.25s;

  &:hover {
    background-color: darken($grey, 10%);
    border-bottom-color: $very-dark-green;
  }
}

.button-group {
  & > * {
    @extend .button;
  }
}

.pagination {
  @extend .has-invisible-links;
  @extend .slight-mobile-margin;

  display: flex;
  margin-bottom: 4em;

  div.pagination-area {
    flex-grow: 1;
    display: block;

    a.pagination-area-card {
      font-size: 1.7em;

      width: max-content;
      padding: 0.2em 1em;

      &.pagination-area-card-right {
        float: right;
      }

      .pagination-title {
        @extend .hide-on-mobile; 

        line-height: 3em;
        font-weight: 300;
      }

      i.fa {
        @media screen and (max-width: $mobile-breakpoint) {
          font-size: 2em;
        }
      }
    }
  }
}

// SOCIAL MEDIA

@mixin sm-link($fa, $var) {
  i.fa-#{$fa} {
    color: $var;
  }
} 

ul.has-social-media-menu {
  span.fontawesome-class {
    border: 1px solid;
  }

  @include sm-link('home', $forums);
  @include sm-link('twitter', $twitter);
  @include sm-link('facebook', $facebook);
  @include sm-link('instagram', $instagram);
  @include sm-link('crosshairs', $showdown);
  @include sm-link('comments', $discord);
}