header#wrapper {
  color: $grey;
  height: 3em;
  padding: 0.75em 0.25em;
  z-index: 3;
  position: relative;
  transition: 0.25s;
  overflow: hidden;

  header#content {
    max-width: $width;
    margin: auto;

    .site-name {
      font-size: 1.8em;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.25em;
      }
    }

    ul#navbar {
      li {
        display: inline-block;

        a {
          line-height: 3em;
          padding: 0 0.75em;
        }
      }
    }

    .menu-marker {
      cursor: pointer;
      width: 30px;
      text-align: center;

      & > i.fa.menu-opener-icon {
        transition: 0.5s;
        color: $very-dark-green;
        line-height: 1.6em;
        font-size: 2em;
      }
    }
  }

  &.expanded {
    height: 7em;

    .menu-marker i.fa {
      transform: rotate(-90deg);
      &:before { content: '\f00d'; }
    }
  }
}

@keyframes background-scroll {
  0% { background-position: 0 0 }
  100% { background-position: 100% 100% }
}