header#wrapper {
  color: $grey;
  height: var(--header-height);
  width: 100%;
  
  padding: 0.75em 0.25em;
  z-index: 3;
  position: fixed;
  transition: 0.25s;
  overflow: hidden;

  background-color: $very-dark-grey;
  background-image: url("https://www.safarizone.net/uploads/default/original/2X/2/26a03df4d8a3278c22b1acba62817f99e7ebd855.png");

  animation-name: background-scroll;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  header#content {
    max-width: $width;
    margin: auto;

    div#header-main-bar {
      height: var(--header-inner-height);
      transition: 0.25s;
      align-items: center;

      .site-name {
        font-size: 2.3em;
        display: flex;
        align-items: center;

        svg {
          margin-right: 0.25em;
          height: 1.5em;
          width: 1.5em;
          transition: 0.25s;
        }
      }

      ul#navbar li a {
        line-height: 3em;
        padding: 0 0.75em;
      }

      .menu-marker {
        cursor: pointer;
        width: 30px;
        text-align: center;

        & > i.fa.menu-opener-icon {
          transition: 0.5s;
          color: $very-dark-green;
          line-height: 1.6em;
          font-size: 2em;
        }
      }
    }
  }

  body.header-expanded & {
    .menu-marker i.fa {
      transform: rotate(-90deg);
      &:before { content: '\f00d'; }
    }
  }
}

@keyframes background-scroll {
  0% { background-position: 0 0 }
  100% { background-position: 100% 100% }
}