main#single {

	.logo-at-single-post-top {
		margin-top: 3em;

		svg * {
			transition: 0.20s;
		}

		&:hover svg * {
			stroke: $very-dark-green !important;
		}
	}

	h2.standard-title {
		font-size: 4em;
		line-height: 1.2em;
	}

	.category {
		font-variant: small-caps;
		text-decoration: none;
		font-size: 1.1em;
		font-weight: bold;

		&:not(:last-of-type):after {
			content: ', ';
		}
	}

	.post-excerpt {
		font-size: 1.1em;
	}

	div.post-thumbnail {
		margin: 1em 0;
		width: 100%;

		background-size: cover;
		background-position: center;
		min-height: 40em;
	}

	.author {
		font-style: italic;
		color: inherit;
		text-decoration: none;
		display: block;
		text-align: right;
	}

	.image-postbit-block {
		margin-bottom: 0;
	}

	.single-post-content {
		padding: 1.5em;
		margin-bottom: 3em;
	}
}