/* define all variables here */

// $light-green: #b9bf82;
// $dark-green: #878b5f;
// $very-dark-green: darken($dark-green, 15%);

$very-dark-green: #658b5f;

// $grey: #f1f3f2;
$grey: darken(white, 4%);
$slight-grey: darken($grey, 2%);
$mid-grey: darken($grey, 30%);
$dark-grey: #23282d;
$very-dark-grey: darken($dark-grey, 7%);

$dark-transparent-grey: rgba(15, 15, 15, 0.1);
$transparent-grey: lighten($dark-transparent-grey, 30%);

$mobile-breakpoint: 900px;
$width: 1000px;
$main-width: 900px;

$header-default-height: 7em;
$header-docked-height: 3.6em;
$header-expanded-height: 11em;
$mob-header-expanded-height: 36.5em;

$forums: #54436f;
$twitter: #1da1f2;
$facebook: #597ab9;
$instagram: #de5656;
$showdown: #ff6347;
$discord: #7186d7;

$pokedex-colors: (
  green: $very-dark-green,
  purple: invert($very-dark-green),
  blue: adjust-hue($very-dark-green, 90),
  red: saturate(adjust-hue($very-dark-green, -110), 0.3),
  black: $very-dark-grey,
  brown: adjust-hue($very-dark-green, -110),
  yellow: saturate(adjust-hue($very-dark-green, -60), 0.3)
);

body {
  --highlight: $very-dark-green;
}

.override-highlight {
  @each $name, $color in $pokedex-colors {
    &.#{$name} {
      --highlight: $color;
    }
  }
}

$type-colors: (
  grass: 'green',
  poison: 'purple',
  water: 'blue',
  fire: 'red',
  dark: 'black',
  flying: saturate(adjust-hue($very-dark-green, 90), 0.3),
  dragon: darken(invert($very-dark-green), 20%),
  ground: 'brown',
  psychic: saturate(adjust-hue($very-dark-green, -130), 0.3)
);

@each $type, $color in $type-colors {
  .type-#{$type} {
    @if type-of($color) == string {
      --highlight: map-get($pokedex-colors, $color);
    } @else {
      --highlight: $color;
    }

    background-color: var(--highlight);
  }
}

$stat-colors: (
  hp: 'red',
  atk: saturate(adjust-hue($very-dark-green, -90), 0.35),
  def: 'yellow',
  spa: 'green',
  spd: 'blue',
  spe: 'purple',
  bst: darken(invert($very-dark-green), 20%)
);

@each $stat, $color in $stat-colors {
  .stat.stat-#{$stat} {
    @if type-of($color) == string {
      background-color: map-get($pokedex-colors, $color);
    } @else {
      background-color: $color;
    }
  }
}