/* define all variables here */

// $light-green: #b9bf82;
// $dark-green: #878b5f;
// $very-dark-green: darken($dark-green, 15%);

$very-dark-green: #658b5f;

// $grey: #f1f3f2;
$grey: darken(white, 4%);
$slight-grey: darken($grey, 2%);
$mid-grey: darken($grey, 30%);
$dark-grey: #23282d;
$very-dark-grey: darken($dark-grey, 7%);

$dark-transparent-grey: rgba(15, 15, 15, 0.1);
$transparent-grey: lighten($dark-transparent-grey, 30%);

$mobile-breakpoint: 900px;
$width: 1000px;
$main-width: 900px;

$header-default-height: 7em;
$header-docked-height: 3.6em;
$header-expanded-height: 11em;
$mob-header-expanded-height: 36.5em;

$forums: #54436f;
$twitter: #1da1f2;
$facebook: #597ab9;
$instagram: #de5656;
$showdown: #ff6347;
$discord: #7186d7;