/* define all variables here */

// $light-green: #b9bf82;
// $dark-green: #878b5f;
// $very-dark-green: darken($dark-green, 15%);

$very-dark-green: #658b5f;
$dark-green: lighten($very-dark-green, 15%);
$light-green: lighten($dark-green, 15%);
$very-light-green: lighten($light-green, 10%);

// $grey: #f1f3f2;
$grey: darken(white, 4%);
$slight-grey: darken($grey, 2%);
$mid-grey: darken($grey, 30%);
$dark-grey: #23282d;
$transparent-grey: mix($grey, transparent, 10%);
$dark-transparent-grey: darken($transparent-grey, 90%);

$mobile-breakpoint: 900px;
$width: 870px;
$main-width: 900px;

$forums: #54436f;
$twitter: #1da1f2;
$facebook: #597ab9;
$instagram: #de5656;
$showdown: #ff6347;