& {
  @extend .large-text;
}

p {
  margin: 1em;
}

h1, h2 {
  @extend .standard-title;
  
  margin-top: 2em;
  line-height: 1em;
}

h1 {
  font-size: 3em;
}

h3, h4 {
  @extend .stylized;
  line-height: 1.3em;
}

h3 {
  font-size: 2em;

  /* cancel out some of the silly default styles */
  text-transform: initial;
  letter-spacing: initial;
}

h4 {
  font-size: 1.5em;
}

blockquote {
  @extend .quotelike;

  p:first-of-type:first-letter {
    @extend .formalized;
    font-size: 1.5em;
  }

  @media screen and(max-width: $mobile-breakpoint) {
    margin: 0;
    padding: 0;
  }
}