/* line 2, ../sass/_mobile/m-author.scss */
main#author section.author-info {
  flex-direction: column;
  align-items: center;
}
/* line 6, ../sass/_mobile/m-author.scss */
main#author section.author-info h1, main#author section.author-info div.profile-user-roles {
  text-align: center;
}
/* line 10, ../sass/_mobile/m-author.scss */
main#author section.author-info p {
  text-align: center;
  width: 70%;
  margin: auto;
}
