/* line 1, ../sass/_common/banner.scss */
.image-banner {
  height: 25em;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  background-size: cover;
  background-position: center;
}
/* line 10, ../sass/_common/banner.scss */
.image-banner .image-banner-shading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}
/* line 24, ../sass/_common/banner.scss */
.image-banner .image-banner-shading img.image-banner-embedded-image {
  height: 100%;
  width: auto;
}
