/* line 1, ../sass/_partials/menu-flip.scss */
#flippable-wrapper {
  perspective: 1000;
  z-index: 1;
  position: relative;
}
/* line 6, ../sass/_partials/menu-flip.scss */
#flippable-wrapper #flippable {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 11, ../sass/_partials/menu-flip.scss */
#flippable-wrapper #flippable:hover {
  transform: rotateY(180deg);
}
/* line 15, ../sass/_partials/menu-flip.scss */
#flippable-wrapper #flippable .flippable-card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 21, ../sass/_partials/menu-flip.scss */
#flippable-wrapper #flippable .flippable-card.front {
  z-index: 2;
  transform: rotateY(0deg);
}
/* line 26, ../sass/_partials/menu-flip.scss */
#flippable-wrapper #flippable .flippable-card.back {
  transform: rotateY(180deg);
}
