a {
  color: $very-dark-green;
}

.flex {
  display: flex;

  & > .vertically-centered {
    align-items: auto;
    align-self: center;
  }

  &.one-growing-element {
    & > * {
      flex-grow: 0;
      flex-shrink: 1;
    }

    .grows {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  &.vertically-centered {
    align-items: center;
    align-self: auto;
  }

  &.wraps {
    flex-wrap: wrap;
  }

  &.responsive-two-columns {
    justify-content: space-between;

    & > * {
      width: 49%;

      @media screen and (max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }
  }

  &.wraps-on-mobile {
    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  &.wraps-on-computer {
    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
}

.centered {
  text-align: center;
}

.centered-block {
  margin: auto;
}

.page-width {
  max-width: 1110px;
  margin: auto;
}

.has-invisible-links a {
  color: inherit;
  text-decoration: none;
}

img.avatar {
  border-radius: 25%;

  &.tiny {
    height: 2em;
  }

  &.standard {
    height: 5em;
  }

  &.huge {
    height: 15em;
  }
}

.hide-on-computer {
  display: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  .hide-on-mobile {
    display: none;
  }

  .hide-on-computer {
    display: initial;
  }

  .center-on-mobile {
    text-align: center;
  }

  .slight-mobile-margin {
    margin-left: 0.75em !important;
    margin-right: 0.75em !important;
  }
}

/* some pages (like index/single.php) should allow the header to overflow onto their banners*/
/* to *prevent* that behavior, use this class */
main.header-cant-overflow {
  margin-top: 4em;
}

.block {
  display: block;
}