main#dex section.dex-entry-content {
  .altforms-block {
    /* WEIRD the extend here makes it apply to desktop too */
    width: max-content;
    width: -moz-fit-content;

    margin: auto;
    margin-bottom: 1em;

    align-items: flex-start;

    .altforms-sticker {
      position: static;
      margin: auto;
    }

    .altform {
      margin-bottom: 0.75em;
    }
  }

  a.fimg-author {
    padding: 0;
    padding-left: 0.25em;
  }

  .types-and-stats-block {
    .types-block {
      margin-bottom: 0.25em;
    }

    .stats-block {
      width: 100%;
      flex-wrap: wrap;

      .stat {
        width: 23%;
        margin-bottom: 0.25em;
        text-align: center;
      }

      .stat-bst {
        display: none;
      }
    }
  }

  .dex-entry-region {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  .evolution-family-chain {
    justify-content: center;
    margin-right: 0 !important;
     
    &:not(:last-of-type) {
      margin-bottom: 0.25em;
    }
  }
}

main#dex section.battling {
  .tiers-and-abilities {
    flex-direction: column-reverse;

    .stickerlike {
      text-align: center;
    }

    .tier {
      margin-bottom: 0.5em;
    }
  }
}