body {
  --header-height: $header-small-height !important;
}

header#wrapper {
  padding: 1em 0.25em;
  position: absolute;


  header#content {
    .site-name {
      flex-grow: 1;
      justify-content: flex-start;
    }
  }
}