body {
  --header-height: $header-small-height !important;
}

header#wrapper {
  position: absolute;

  header#content {
    .site-name {
      flex-grow: 1;
      justify-content: flex-start;

      margin-left: 1em;
    }

    .menu-marker {
      margin-right: 1em;
    }
  }
}