body {
  &.header-expanded {
    --header-height: $mob-header-expanded-height;
  }
}

header#wrapper {
  padding: 1em 0.25em;
  position: absolute;


  header#content {
    .site-name {
      flex-grow: 1;
      justify-content: flex-start;
    }

    #navbar-wrapper {
      flex-grow: 0;
    }

    aside#modal {
      ul {
        margin-bottom: 1em;

        li {
          margin-bottom: 0.25em;
        }
      }
    }
  }

  &.expanded {
    height: 27em;
  }
}